*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
    position: relative;
  min-height: 100%;
    /* position: relative; */
    /* min-height: 100%; */
     /* background-image: linear-gradient(to right top, #64e8de, #00d3f4, #00b8ff, #0095ff, #8a64eb);  */
    background-color: blue;
    font-family: 'Comfortaa', cursive;
}

body{
    line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

main{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
  }


.calc-body{
    width: 400px;
  border: 2px var(--border) solid;
  border-radius: 15px;
  padding: 20px;
}

 .display{
    background-image: linear-gradient(to right top, #000000, #1a1a1a, #2e2c2c, #434040, #595555);    
    padding: 10px 20px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--screen);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
    /* overflow:hidden; */
}

.displaySpan{
    margin: 2%;
}

.digits{
    padding-top:3%;
    padding-bottom:2%;
    padding-left: 1%;
    padding-right: 1%;
    font-size:5em;
    width:100%;
    text-align: right;
}

.operations{
    width:100%;
    background:transparent;
    text-align: right;
    font-size: 2em;
    padding: 2%;
    padding-right:-5%;
    padding-left: 0;

}

.grid-container{
    
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.span-2 {
    grid-column: span 2;
  }

.grid-item{
    padding: 20px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  background-color: var(--btn);
  font-size: 20px;
    background-color: #FFA04F;
    opacity: 1;
    border-radius: 5px;
    transition:0.5s;
    line-height: 100%;

}

.btn{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.operator{
    background-color: #FF209D;
}

.clear{
    grid-column-start: 1;
    font-size: 200%;
    grid-column-end: 3;
    background-color: #0085FF;
}

.backspace{
    grid-column-start: 3;
    font-size: 200%;
    grid-column-end: 5;
    background-color: #8565FF;
}

.grid-item:hover{
    background-color: #FF676E;
}

.clear:hover{
    background-color: #0088AE;
}
footer{
    position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}