html{
     /* background-image: linear-gradient(to right top, #64e8de, #00d3f4, #00b8ff, #0095ff, #8a64eb);  */
     background-image: linear-gradient(to right top, #ff00d4, #b37bff, #2cabff, #00c9ff, #00ddff);     /* background-image: linear-gradient(to right top, #2d388a, #2155a7, #0773c2, #0090da, #00aeef);    
    background-attachment: fixed; */
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 100vh;
    color:white;
    font-family: 'Comfortaa', cursive;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.calc-body{
    /* overflow: hidden; */
    width: 450px;
    height: 620px;
    margin:auto;
    margin-top:2%; 
    /* flex-shrink: 0; */
    /* min-width: 300px;*/
    border-style: solid;
    border-width: 1%;
    border-radius: 5px;
    border-color: #FFD04D;
    
}

 .display{
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: linear-gradient(to right top, #000000, #1a1a1a, #2e2c2c, #434040, #595555);    padding-top:10%;
    padding-bottom:2%;
    padding-left: 1%;
    padding-right: 5%;
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 93%;
    border-radius: 6px;
    font-size:3em;
    overflow:hidden;
}

.grid-container{
    
    margin: auto;
    margin:2%;
    height:80%;
    width:90%;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap:2%;
    row-gap: 2%;

}
.grid-item{
    font-size: 3em;
    position: relative;
    text-align: center;
    cursor: pointer;
    background-color: #FFA04F;
    opacity: 1;
    border-radius: 5px;
    transition:0.5s;
    line-height: 100%;

}

span{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.operator{
    background-color: #FF209D;
}

.clear{
    grid-column-start: 1;
    font-size: 1.9em;
    grid-column-end: 3;
    background-color: #0085FF;
}

.backspace{
    grid-column-start: 3;
    font-size: 1.9em;
    grid-column-end: 5;
    background-color: #8565FF;
}

.grid-item:hover{
    background-color: #FF676E;
}

.clear:hover{
    background-color: #0088AE;
}
.footer{
    margin:auto;
    margin-top:2%;
    text-align: center;
}